.footer {
    width: calc(100% - 30px);
  margin: 0 15px 15px 15px;
}

.footer-container {
    background-color: #0f0f0f;
    color: #d1d5db;
    padding: 3rem 4rem;
    border-radius: 12px;
}

.profile-section {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}

.footer-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-info {
    margin-left: 1rem;
}

.profile-name {
    color: white;
    font-weight: 700;
    font-size: 1.125rem;
    margin: 0 0;
    margin-bottom: 10px;
}

.profile-title {
    color: #9ca3af;
    font-size: 0.875rem;
    margin: 0px 0px;
}

.links-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-bottom: 3rem;
}


.column-heading {
    color: white;
    font-weight: 600;
    font-size: 1.125rem;
    margin-bottom: 1rem;
}

.links-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.links-list li {
    margin-bottom: 0.75rem;
}

.footer-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #d1d5db;
    text-decoration: none;
    transition: color 0.2s ease;
}

.footer-link:hover {
    color: white;
}

.copyright {
    text-align: center;
    padding-top: 2rem;
    border-top: 1px solid #1f2937;
}

.copyright-text {
    font-size: 0.875rem;
    color: #9ca3af;
}

.copyright-link {
    color: white;
    text-decoration: none;
    transition: color 0.2s ease;
}

.copyright-link:hover {
    color: #d1d5db;
}


@media (min-width: 768px) {
    .links-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 480px) {
    .footer {
      width: 100%;
    }
}